#  READING AND WRITING DATA USING PANDAS

## Reading Data in CSV or Text Files

In [3]:
import numpy as np
import pandas as pd

In [4]:
csvframe = pd.read_csv('./data/data.csv')
csvframe

   a  b  out
0  0  0    0
1  0  1    0
2  1  0    0
3  1  1    1

In [5]:
pd.read_table('./data/data.csv', sep=',')

   a  b  out
0  0  0    0
1  0  1    0
2  1  0    0
3  1  1    1

In [6]:
pd.read_csv('./data/data.csv', header=None)

   0  1    2
0  a  b  out
1  0  0    0
2  0  1    0
3  1  0    0
4  1  1    1

In [7]:
pd.read_csv('./data/data.csv', names=['white','red','blue','green','animal'])

  white red blue  green  animal
0     a   b  out    NaN     NaN
1     0   0    0    NaN     NaN
2     0   1    0    NaN     NaN
3     1   0    0    NaN     NaN
4     1   1    1    NaN     NaN

###  Using RegExp for Parsing TXT Files

In [ ]:
pd.read_table('04.txt', sep='\s+', engine='python')

In [ ]:
pd.read_table('05.txt', sep='\D+', header=None, engine='python')

In [ ]:
pd.read_table('6.txt', sep=',', skiprows=[0,1,3,6])

### Reading TXT Files into Parts or Partially

In [8]:
pd.read_csv('./data/data.csv',skiprows=[2],nrows=3,header=None)

   0  1    2
0  a  b  out
1  0  0    0
2  1  0    0

### Writing Data in CSV

In [11]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [12]:
frame.to_csv('07.csv')
frame2 = pd.read_csv('07.csv')
frame2

  Unnamed: 0  ball  pen  pencil  paper
0        red     0    1       2      3
1       blue     4    5       6      7
2     yellow     8    9      10     11
3      white    12   13      14     15

In [13]:
frame.to_csv('07b.csv', index=False, header=False)
frame2 = pd.read_csv('07b.csv')
frame2

    0   1   2   3
0   4   5   6   7
1   8   9  10  11
2  12  13  14  15

In [14]:
frame3 = pd.DataFrame([[6,np.nan,np.nan,6,np.nan],
              [np.nan,np.nan,np.nan,np.nan,np.nan],
              [np.nan,np.nan,np.nan,np.nan,np.nan],
              [20,np.nan,np.nan,20.0,np.nan],
              [19,np.nan,np.nan,19.0,np.nan]
             ],
                     index=['blue','green','red','white','yellow'],
                     columns=['ball','mug','paper','pen','pencil'])

In [15]:
frame3.to_csv('08.csv')
frame4 = pd.read_csv('08.csv')
frame4

  Unnamed: 0  ball  mug  paper   pen  pencil
0       blue   6.0  NaN    NaN   6.0     NaN
1      green   NaN  NaN    NaN   NaN     NaN
2        red   NaN  NaN    NaN   NaN     NaN
3      white  20.0  NaN    NaN  20.0     NaN
4     yellow  19.0  NaN    NaN  19.0     NaN

In [16]:
frame3.to_csv('09.csv', na_rep = 'NaN')
frame5 = pd.read_csv('09.csv')
frame5

  Unnamed: 0  ball  mug  paper   pen  pencil
0       blue   6.0  NaN    NaN   6.0     NaN
1      green   NaN  NaN    NaN   NaN     NaN
2        red   NaN  NaN    NaN   NaN     NaN
3      white  20.0  NaN    NaN  20.0     NaN
4     yellow  19.0  NaN    NaN  19.0     NaN

## Reading and Writing HTML Files

### Writing Data in HTML

In [17]:
frame = pd.DataFrame(np.arange(4).reshape(2,2))
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [18]:
frame = pd.DataFrame( np.random.random((4,4)),
                    index = ['white','black','red','blue'],
                    columns = ['up','down','right','left'])
frame

             up      down     right      left
white  0.981782  0.686339  0.410288  0.546136
black  0.676343  0.748854  0.248607  0.122592
red    0.411376  0.026690  0.810207  0.696653
blue   0.065099  0.447062  0.248447  0.479882

In [19]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append('</BODY></HTML>')
html = ''.join(s)

In [20]:
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

### Reading Data from XML

In [ ]:
from lxml import objectify
xml = objectify.parse('books.xml')
xml

In [ ]:
root = xml.getroot()

In [ ]:
root.Book.Author

In [ ]:
root.Book.PublishDate

In [ ]:
root.getchildren()

In [ ]:
[child.tag for child in root.Book.getchildren()]

In [ ]:
[child.text for child in root.Book.getchildren()]

In [ ]:
def etree2df(root):
    column_names = []
    for i in range(0, len(root.getchildren()[0].getchildren())):
        column_names.append(root.getchildren()[0].getchildren()[i].tag)
    xmlframe = pd.DataFrame(columns=column_names)
    for j in range(0, len(root.getchildren())):
        obj = root.getchildren()[j].getchildren()
        texts = []
        for k in range(0, len(column_names)):
            texts.append(obj[k].text)
        row = dict(zip(column_names, texts))
        row_s = pd.Series(row)
        row_s.name = j
        xmlframe = xmlframe.append(row_s)
    return xmlframe

In [ ]:
etree2df(root)

## Reading and Writing Data on Microsoft Excel Files

In [ ]:
pd.read_excel('ch05_data.xlsx')

In [ ]:
pd.read_excel('ch05_data.xlsx','Sheet2')

In [ ]:
pd.read_excel('ch05_data.xlsx',1)

In [ ]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index = ['exp1','exp2','exp3','exp4'],
                    columns = ['Jan2015','Feb2015','Mar2015','Apr2015'])
frame

In [ ]:
frame.to_excel('ch05_data02.xlsx')

## JSON Data

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['white','black','red','blue'],
                    columns=['up','down','right','left'])
frame.to_json('frame.json')

In [ ]:
pd.read_json('frame.json')

In [ ]:
from pandas.io.json import json_normalize

In [ ]:
file = open('books.json','r')
text = file.read()
text = pd.io.json.loads(text)

In [ ]:
json_normalize(text,'books')

In [ ]:
json_normalize(text,'books',['writer','nationality'])

## The Format HDF5

In [ ]:
from pandas.io.pytables import HDFStore

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['white','black','red','blue'],
                    columns=['up','down','right','left'])
store = HDFStore('ch05_data.h5')
store['obj1'] = frame

In [ ]:
frame2 = pd.DataFrame(np.arange(0,8,0.5).reshape(4,4))
frame2

In [ ]:
store['obj2'] = frame2

In [ ]:
store

In [ ]:
store['obj2']

## Pickle - Python Object Serialization

### Serialize a Python Object with cPickle

In [23]:
#On python3.x cPickle has changed from cPickle to _pickle. Thus in python3.x, you can do the following if you want to use cPickle:
import _pickle as pickle

In [24]:
data = { 'color': ['white','red'], 'value': [5, 7]}
pickled_data = pickle.dumps(data)
pickled_data

b'\x80\x03}q\x00(X\x05\x00\x00\x00colorq\x01]q\x02(X\x05\x00\x00\x00whiteq\x03X\x03\x00\x00\x00redq\x04eX\x05\x00\x00\x00valueq\x05]q\x06(K\x05K\x07eu.'

In [25]:
print(pickled_data)

b'\x80\x03}q\x00(X\x05\x00\x00\x00colorq\x01]q\x02(X\x05\x00\x00\x00whiteq\x03X\x03\x00\x00\x00redq\x04eX\x05\x00\x00\x00valueq\x05]q\x06(K\x05K\x07eu.'

In [26]:
nframe = pickle.loads(pickled_data)
nframe

{'color': ['white', 'red'], 'value': [5, 7]}

### Pickling with pandas

In [27]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['up','down','left','right'])
frame.to_pickle('frame.pkl')

In [28]:
pd.read_pickle('frame.pkl')

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

## Interacting with Databases

In [29]:
!conda install sqlalchemy
from sqlalchemy import create_engine

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    sqlalchemy-1.3.11          |   py37h516909a_0         1.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.8 MB

The following packages will be UPDATED:

  sqlalchemy                          1.3.10-py37h516909a_0 --> 1.3.11-py37h516909a_0


Proceed ([y]/n)? ^C

CondaSystemExit:
Operation aborted.  Exiting.

In [ ]:
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

### Loading and Writing Data with SQLite3

In [ ]:
frame = pd.DataFrame(np.arange(20).reshape(4,5),
                    columns=['white','red','blue','black','green'])
frame

In [ ]:
engine = create_engine('sqlite:///foo.db')

In [ ]:
frame.to_sql('colors',engine)

In [ ]:
pd.read_sql('colors',engine)

In [ ]:
import sqlite3
query = """
         CREATE TABLE test
         (a VARCHAR(20), b VARCHAR(20),
          c REAL,        d INTEGER
         );"""
con = sqlite3.connect(':memory:')
con.execute(query)

In [ ]:
con.commit()

In [ ]:
data = [('white','up',1,3),
        ('black','down',2,8),
        ('green','up',4,4),
        ('red','down',5,5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt, data)

In [ ]:
con.commit()

In [ ]:
cursor = con.execute('select * from test')
cursor

In [ ]:
rows = cursor.fetchall()
rows

In [ ]:
cursor.description

In [ ]:
pd.DataFrame(rows, columns=zip(*cursor.description)[0])

### Loading and Writing Data with PostgreSQL

In [ ]:
pd.__version__

In [ ]:
import psycopg2
engine = create_engine('postgresql://postgres:password@localhost:5432/postgres')

In [ ]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index=['exp1','exp2','exp3','exp4'],
                    columns=['feb','mar','apr','may']);
frame.to_sql('dataframe',engine)

In [ ]:
pd.read_sql_table('dataframe',engine)

In [ ]:
pd.read_sql_query('SELECT index,apr,may FROM DATAFRAME WHERE apr > 0.5', engine)

## Reading and Writing Data with a NoSQL Database: MongoDB

In [32]:
import pymongo
client = pymongo.MongoClient('localhost',27017)

In [33]:
db = client.mydatabase
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [34]:
client['mydatabase']

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [35]:
collection = db.mycollection
db['mycollection']

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'mycollection')

In [36]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'mycollection')

In [37]:
frame = pd.DataFrame( np.arange(20).reshape(4,5), 
                      columns = ['white','red','blue','black','green'])
frame

   white  red  blue  black  green
0      0    1     2      3      4
1      5    6     7      8      9
2     10   11    12     13     14
3     15   16    17     18     19

In [38]:
import json
record = json.loads(frame.T.to_json()).values
record

In [ ]:
collection.mydocument.insert(record)

In [ ]:
cursor = collection['mydocument'].find()
dataframe = (list(cursor))
del dataframe['_id']
dataframe